.dropdown-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 10px 0;
    // border: 1px solid #1f2938;
    border-radius: 4px;
    gap: 20px;

    select {
        flex: 2;
        border: 1px solid #1f3556;
        padding: 10px;
        border-radius: 4px;
    }
}