.rep-count-weight-input-container {

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    input {
        text-align: center;
    }

    select {
        height: 30px;
        width: 100px;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .icon {
        height: 25px;
        width: 25px;
        fill: #003366;
    }

    .add-icon {
        &.disabled {
            pointer-events: none;
            opacity: 0.75;
        }
    }
}