.login-container{
}

@media screen and (max-width:480px) {
    .not-supported-device{
      display: none;
    }
  }
  @media screen and (min-width: 481px) {
    .login-container{
      display: none;
    }
    .not-supported-device{
      display: block;
      text-align: center;
    }
  }
  