/* src/MobileNavbar.css */

.mobile-navbar {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;


    .mobile-navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);
    }

    .mobile-navbar-brand {
        font-size: 17px;
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;


    }

    .icon {
        height: 30px;
        width: 30px;
        fill: white;
    }


    .mobile-navbar-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        border-top: 1px solid white;
        z-index: 999;
    }

    .mobile-navbar-item {
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid #305275;
        background-color: var(--primary-color);
    }

    .mobile-navbar-item:hover {
        background-color: #001630;
    }
}